$navFont:'Lobster', Georgia, Times, serif;
$navFontSize: 1.9em;
$myFont: 'Cabin', Helvetica, Arial, sans-serif;
$bgColor: rgb(232, 232, 232);
$body-bg: #c1bdba;
$form-bg: #bec1be;
$white: #ffffff;
$main: black;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);
$gray-light: rgb(113, 113, 113);
$gray: #ddd;
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
